.loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: white;
}

.loader_page_wrapper {
  height: calc(100vh - 80px);
}

.loader_indicator {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin: auto;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
